* {
  padding: 0;
  margin: 0;
}

/* ---------- root variables ---------- */
:root {
  --skrift: #000000;
  --darkGray: #262626;
  --bg: #fbfbfb;
  --gray: #a3a3a3;
  --red: #A01518;
  --redTrans: rgba(160, 21, 24, 0.7);
  --offRed: #973638;
}

/* ===================================== general styling ===================================== */

html {
  color: var(--skrift);
  font-family: 'Raleway', sans-serif;

}

body {
  width: 100%;
  overflow-x: hidden;
  background-color: var(--bg);
}


header {
  background-color: var(--bg);
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 70px;
  margin: 0;
  z-index: 99;
}

li {
  list-style: none;
}

a {
  color: var(--skrift);
  text-decoration: none;
}

h1 {
  font-family: co-headline, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2.25em;
}

.h1-black {
  text-align: center;
  font-size: 2em;
}

h2 {
  font-family: co-headline, sans-serif;
  font-style: normal;
  font-size: 1.2em;
}

video {
  width: 100%;
  margin-top: -42px;
  position: relative;
  z-index: -10;
}

hr {
  background-color: var(--red);
  height: 2px;
  border: none;
}

article {
  margin: 4em 1.5em;
}

button {
  height: 40px;
  width: 135px;
  background-color: var(--offRed);
  color: var(--bg);
  border: none;
  font-weight: 100;
  font-size: 18px;
  box-shadow: 0 2px 5px var(--gray);
  display: block;
  margin: 1.5em auto;

}

.page {
  overflow: hidden;
  display: block;
  /*min heigh is screen heigh minus height of tab and top bar */
  min-height: calc(100vh - 110px);
  background: var(--light-grey);
  animation: fadeIn 0.4s;
  /* padding equals height of tabbar and topbar */
  padding: 7em 0;
}

.lil-button {
  background-color: var(--red);
  font-size: 18px;
  display: none;
  margin: 0 0 0 -34px;
}


/* ===================================== NAVIGATION ===================================== */

.navbar {
  min-height: 70px;
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--skrift);
}

.hamburger {
  display: block;
  cursor: pointer;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.nav-menu {
  position: fixed;
  left: 100%;
  top: 70px;
  /*gap: 0;*/
  flex-direction: column;
  background-color: var(--bg);
  width: 100%;
  text-align: center;
  transition: 0.3s;
}

.nav-item {
  margin: 16px 0;
}

.nav-menu.active {
  left: 0;
}





/* ===================================== Landing page ===================================== */

.landing-video-desktop {
 display: none;
}

.redbox {
  width: 83%;
  margin-top: -6em;
  position: relative;
  z-index: 10;
}

.subliner-desktop {
  display: none;
}

.headline {
  margin: -7em 1.5em 5em 1.25em;
  position: relative;
  z-index: 11;
  color: var(--bg);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.hold-billeder {
  margin: 1.5em 0;
}

.billeder {
  margin: 1.5em 0;
  width: 100%;
}

.holdnavn {
  text-align: center;
  margin: -4em 0 2em 0;
  color: var(--bg);
}

/* ===================================== Medlems siden ===================================== */

.belt-liga {
  min-height: 400px;
}

.belt-grid {
  display: grid;
  height: 600px;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 3fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 3fr;
  gap: 1.2em 0em;
  grid-template-areas:
    "belt-display . ."
    "belt-display black-belt black-belt"
    "belt-display brown-belt brown-belt"
    "belt-display blue-belt blue-belt"
    "belt-display green-belt green-belt"
    "belt-display orange-belt orange-belt"
    "belt-display yellow-belt yellow-belt"
    "belt-display white-belt white-belt"
    "belt-display . .";
}

 .belt-display {
  grid-area: belt-display;
  /* background-image: url(../img/beltdisplay.png);
  background-size: contain;
  background-repeat: no-repeat; */
} 

.beltdisplay-pic {
  height: 600px;
  display: block;
  margin: auto;
}


.black-belt {
  grid-area: black-belt;
  background-color: rgba(0, 0, 0, 0.2);
}

.brown-belt {
  grid-area: brown-belt;
  background-color: rgba(147, 73, 21, 0.2);
}

.blue-belt {
  grid-area: blue-belt;
  background-color: rgba(0, 94, 171, 0.2);
}

.green-belt {
  grid-area: green-belt;
  background-color: rgba(0, 177, 46, 0.2);
}

.orange-belt {
  grid-area: orange-belt;
  background-color: rgba(255, 149, 0, 0.2);
}

.yellow-belt {
  grid-area: yellow-belt;
  background-color: rgba(255, 241, 0, 0.2);
}

.white-belt {
  grid-area: white-belt;
  background-color: rgba(168, 168, 168, 0.2);
} 

/* ===== Pensum - "for melemmer siden ===== */
.members_pensum_btn {
  display: flex;
  flex-direction: row;
}

#adult_pensum, #children_pensum {
	display: block; /*none*/
}

#adult_pensum {
	display: block;
}

.belt{
  width: 100px;
  height: 100px;
}

.belt_adult, .belt_children, .belt_childrent_hide{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.belt_childrent_hide{
  display: none;
}


/* ===================================== footer ===================================== */

.footer_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  border-top: 0.1em solid var(--red);
}

.article_footer{
  margin: 2em 1.5em;
}

.partner{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.partner_img_JJN{
  width: 6em;
  padding-top: 0.5em;
}

.partner_img_IF{
  width: 3.5em;
}

.p_footer{
  font-weight: 600;
}

.footer_some{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.fb_img{
  width: 3em;
  padding-bottom: 0.5em;
}

.p_mail{
  color: var(--red);
  text-decoration: underline;
  padding-top: 1em;
}

/* ===================================== 404 ===================================== */

.billede-404 {
  display: block;
  width: 60%;
  /* height: 400px; // til desktop */
  margin: auto;
  padding: 2em;
}

.h1-404 {
  text-align: center;
}

.h2-404 {
  text-align: center;
}

.link {
  color: var(--red);
  text-decoration: underline;
}


/* -------------- media query tablet --------------- */
@media screen and (max-width: 950px) and (min-width: 672px) {}


/* ------- media query (ipad pro +) laptop --------- */
@media screen and (min-width: 950px) {

  h1 {
    font-size: 4.5em;
  }

  h2 {
    font-size: 2.5em;
  }


  /* ===================================== NAVIGATION ===================================== */

  .navbar {
    padding: 0 7em;
  }

  .nav-menu {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    position: inherit;
  }

  .nav-link {
    /*Hover effect*/
    transition: 0.1s ease;
  }

  .nav-link:hover {
    /*Hover effect*/
    color: var(--red);
  }

  .hamburger {
    display: none;
  }

  nav .current {
    font-weight: 700;
  }

  /* ===================================== Landing page ===================================== */

.landing-video-desktop {
  display: block;
  width: 100%;
 }

 .landing-video-mobile {
   display: none;
 }
 
 .redbox {
   width: 80%;
   margin-top: -21.6em;
   height: 520px;
 }
 
 .headline {
   margin: -18em 1.5em 10em 7em;
   width: 30em;
 }

 .subliner {
   display: none;
 }

 .subliner-desktop {
   display: block;
   text-align: left;
   margin: 1em 0;
 }

 .hold {
   display: flex;
   justify-content: space-around;
 }
 
 .hold-billeder {
   margin: 1.5em 0;
 }
 
 .billeder {
   margin: 0em 0;
   width: 100%;
 }
 
 .holdnavn {
   text-align: center;
   margin: -3.3em 0 2em 0;
   color: var(--bg);
   font-size: 1.5em;
 }


 /* ===================================== 404 ===================================== */

  .billede-404 {
    width: 30%;
  }

  /*===== footer =====*/ 
  .footer_section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
      -ms-flex-direction: row;
        flex-direction: row;
    -webkit-box-pack: justify;
      -ms-flex-pack: justify;
        justify-content: space-between;
    -webkit-box-align: center;
      -ms-flex-align: center;
        align-items: center;
    padding: 0 10%;
  }

  .footer_some{
    flex-direction: row;
  }


}